*{
    font-family: 'Gaegu', cursive;
}
body{
    background-color: blanchedalmond;
}
.logo-background{
    max-width:100%;
    height: 250px;

    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;

    text-align: center;
}
.log-button__container{
    text-align: right;
    margin-right: 10px;
}

.flower-box{
    margin: 20px auto 0;
}

.theme{
    margin: 50px auto 0;
    /*background-color: white;*/
    height: 200px;
    max-width: 70%;

}
.theme>ul>li{
    list-style: none;
    margin: 30px auto;
    color: dimgrey;
}

.theme>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.theme>ul>li:hover {
    font-weight: bolder;
    color: black;
}