
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.logo img {
    width: 350px;
    height: 120px;

    background-position: center;
    background-size: cover;

    margin: 0 0 30px 0;

}

.back_img {
    width: 100%;
    height: 960px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDEyMjlfMTIy%2FMDAxNjA5MjE0NzY2Mjc3.-IeHJpwaR-mm1vSR0mxcLIcYcTNZVBzAFUWdNsQknI4g.1jkga9slf1SbSSBk18H-22hoHhN3fylFq0tZF-a0Cw0g.JPEG.westwood78%2F66501de6e54afd5a97c765015c34f5b7.jpg&type=a340");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mypost {
    width: 500px;
    height: 250px;

    margin: 20px auto 0 auto;
    padding: 20px;
}


.form-floating {
    background-color: transparent;
    width: 400px;
    margin-left: 30px;
}


.btn_box {
    margin-left: 150px;
    padding-top: 28px;
}
.btn_box > button  {
    /*color: white;*/
    border: 1px solid #ddd;
}

p {
    color: white;
}



